header{
    background-color: red;
    border-radius: 3px;
    display:flex;
    align-items: center;
}
.center{
    margin:auto
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.right{

}
.left{
    
}